

:root{
  --beckgraund-color: lightblue;
  --left_side:#003147;
  --profiletex: rgba(225, 225, 225, 0.2);
  --text_color: rgb(253, 252, 252);
  --title1-color:#2a7da2;
  --noactive-color:#d3cccc;
  --icon_color: #03a9f4;

}





















